.app {
  width: 100%;
  margin: 1em auto;
  text-align: center;
  background-color: #BDC3C7;
}
.main{
  background-color:rgb(233, 233, 233) ;
  width: 80%;
  margin: 0 auto;
}

.app img {
  max-width: 150px;
}
